<br>

<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" style="margin-top: sideNav;">
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a routerLink="my-account" class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active current" aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>My Account</span>
        </a>
        <a routerLink="orders" class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active current">
          <i class="fas fa-chart-area fa-fw me-3"></i><span>Orders</span>
        </a>
        <a routerLink="help" class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active current"><i
            class="fas fa-chart-area fa-fw me-3"></i><span>Help</span></a>
        <a routerLink="about" class="list-group-item list-group-item-action py-2 ripple" routerLinkActive="active current"><i
            class="fas fa-chart-line fa-fw me-3"></i><span>About</span></a>
        <a class="list-group-item list-group-item-action py-2 ripple" (click)="logout()" routerLinkActive="active current">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>Logout <i class="fa fa-lg fa-sign-out" aria-hidden="true"></i></span>
        </a>
      </div>
    </div>
  </nav><br>