<mat-card>
    <mat-card-content>
        <form >
            <h1>Filter by</h1>
        <mat-checkbox name="Active" [(ngModel)]="filterActive" class="example-margin" value="Active">Active</mat-checkbox><br>
        <mat-checkbox name="Disabled" [(ngModel)]="filterDisable" class="example-margin" value="Disabled">Disabled</mat-checkbox><br>
        <mat-checkbox  name="staff" [(ngModel)]="filterSatff" class="example-margin" value="staff">Staff</mat-checkbox><br>
        <mat-checkbox name="user" [(ngModel)]="filterUser" class="example-margin" value="user">Users</mat-checkbox><br>
        <mat-checkbox  name="given" [(ngModel)]="filterGiven" class="example-margin" value="given">Feedback given</mat-checkbox><br>
        <mat-checkbox name="not" [(ngModel)]="filterNotGiven" class="example-margin" value="not">Feedback not given</mat-checkbox><br><br>
        <button mat-raised-button color="warn" style="margin-right: 10px;" (click)="filter()">Apply</button>
        <button mat-raised-button mat-dialog-close>Cancel</button>
        </form>
    </mat-card-content>
  </mat-card>