

<mat-card>
    <mat-card-header>
        <h1>Update User</h1>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="form" (ngSubmit)="updateUser()">
            <mat-form-field style="width: 90%;">
                <mat-label>Select role</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="Select Role">
                        Select role
                    </mat-option>
                    <mat-option *ngFor="let role of roleList" [value]="role.role">
                        {{role.role}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox formControlName="isActive" class="example-margin">isActive</mat-checkbox>
            <div>
                <button mat-raised-button color="warn" type="submit">Update</button>
                <a style="margin-left: 10px;" mat-dialog-close mat-raised-button>Cancel</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>