.active.current a {
    color: white;
    background-color: #f44336;
    border-radius: 5%;
}

#navbarNav {
    display: flex;
    width: 100%;
}

.nav-link {
    color: black;
}

li {
    float: right;
}

.nav-container {
    position: fixed;
    z-index: 4;
    background-color: white;
}

.sticky {
    position: relative;
}

a {
    cursor: pointer;
}

i {
    color: black !important;
}

.badge:after {
    content: attr(value);
    font-size: 15px;
    color: #fff;
    background: #f44336;
    border-radius: 50%;
    padding: 0 5px;
    position: relative;
    left: -8px;
    top: -18px;
}

@keyframes slide-enter {
    50% {
        transform: translateY(-10px);

    }
}

@keyframes shake-enter {
    0% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(20px);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .slide-animation {
        animation: slide-enter 0.5s 1;
    }

    .shake-animation {
        animation: shake-enter 0.1s 2;
    }
}