<h2 style="font-size: 2.4vw; margin: 0%;">Welcome to Solapur’s Restaurant</h2><br>
<p style="font-size: 1.4vw;">Little story</p><br>
<p style="font-size: 1.1vw; opacity: 0.7; line-height: 2.1vw; z-index: 1;">Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. Pellentesque auctor suscipit feugiat. Ut at pellentesque ante, sed convallis
    arcu. Nullam facilisis, eros in eleifend luctus, odio ante sodales augue, eget lacinia lectus erat et sem.
</p>
<p style="font-size: 1.1vw; line-height: 2.1vw; opacity: 0.7; z-index: 1;">Sed semper orci sit amet porta
    placerat. Etiam quis finibus eros. Sed aliquam metus lorem, a pellentesque tellus pretium a. Nulla placerat
    elit in justo vestibulum, et maximus sem pulvinar.</p><br>

<p style="font-size: 1.1vw; line-height: 2.1vw; opacity: 0.7; z-index: 1;">version 1.0.0</p>