table,
th,
td {
    padding: 5px;
}

table {
    text-align: center;
}
a:hover{
    color: blue!important;
}
span{
    padding: 2px 10px;
    border-radius:5%;
}
button{
    border:none;
    background-color: white;
}