form {
    padding: 10px;
    box-shadow: 0 0 2px black;

}

a{
    text-decoration: none;
    text-align: center;
    color: black;
    cursor: pointer;
}
a:hover{
    color: blue!important;
}
mat-form-field{
    width: 100%;
}