
<mat-card>
    <mat-card-content>
        <table>
            <tr >
                <th>Management</th>
                <td>{{feedbackData.management}}</td>
            </tr>
            <tr >
                <th>Taste</th>
                <td>{{feedbackData.taste}}</td>
            </tr>
            <tr >
                <th>Service</th>
                <td>{{feedbackData.service}}</td>
            </tr>
            <tr >
                <th>Suggestion</th>
                <td>{{feedbackData.suggestion}}</td>
            </tr>
        </table><br>
        <div>
            <button mat-dialog-close mat-raised-button color="warn">Close</button>
        </div>
    </mat-card-content>
  </mat-card>
  