table,
th,
td {
    padding: 5px;
}

table {
    width: 30%;
    text-align: center;
}

.container {
    padding: 20px;
}

.sidebar {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    margin: 8vh 0 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 15vw;
    z-index: 1;

}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

.sideDiv{
    margin-left: 16vw;
}

.list-group-item.active{
    background-color: #f44336!important;
    border-color: #f44336!important;
}
.list-group-item.active:hover {
    box-shadow: 0 0 5px black!important;
}
a{
    cursor: pointer;
}