.foodimg{
    width: 20vw;
    height: 30vh;
}
.mainContainer{
    display: flex;
    flex-direction: row;
}
.btn1{
    font-size: 1vw!important;
    padding: 0.7vw 1.5vw;
    color: white;
    background-color:#f44336 ;
    border-color: #f44336!important;
    border-radius: 3px;
}
.btn2{
    font-size: 2vw!important;
    padding: 0.2vw 0.8vw;
    color: white;
    background-color:#f44336 ;
    border-color: #f44336!important;
    border-radius: 3px;
}